exportPattern("^[[:alpha:]]+");
export("%IN%");

S3method(print, dlvPlot);
S3method(print, freq);
S3method(print, meanConfInt);
S3method(print, meanDiff);
S3method(print, meanDiff.multi);
S3method(print, normalityAssessment);
S3method(print, oddsratio);
S3method(print, powerHist);
S3method(print, rMatrix);
S3method(print, scaleDiagnosis);
S3method(print, scaleStructure);
S3method(print, sdConfInt);
S3method(print, testRetestAlpha);
S3method(print, testRetestCES);
S3method(print, testRetestReliability);
S3method(print, parallelSubscales);
S3method(print, dataShape);
S3method(print, didacticPlot);
S3method(print, scatterMatrix);
S3method(print, CramersV);
S3method(print, confIntV);
S3method(print, crossTab);
S3method(print, associationMatrix);
S3method(print, oneway);
S3method(print, posthocTGH);
S3method(print, scaleInspection);
S3method(print, regr);
S3method(print, asymmetricalScatterMatrix);
S3method(print, therapyMonitor);
S3method(print, therapyMonitor.multi);
S3method(print, descr);
S3method(print, processOpenSesameIAT);
S3method(print, processOpenSesameIAT.log);
S3method(print, fullFact);

S3method(sort, associationMatrix)

importFrom("grDevices", "dev.off", "png", "svg")
importFrom("stats", "TukeyHSD", "aggregate", "aov", "approx",
           "chisq.test", "complete.cases", "confint", "cor",
           "cor.test", "cov", "dchisq", "density", "df", "dnorm", "dt",
           "formula", "ks.test", "lm", "lm.influence", "median",
           "na.omit", "p.adjust", "pairwise.t.test", "pchisq", "pf",
           "pnorm", "pt", "ptukey", "qchisq", "qnorm", "qt",
           "quantile", "reshape", "sd", "shapiro.test", "t.test",
           "terms", "var", "var.test")
importFrom("utils", "capture.output", "chooseCRANmirror", "combn",
           "head", "install.packages", "installed.packages",
           "packageVersion", "read.csv", "read.delim", "tail",
           "write.table")

importFrom('plyr', 'ddply');

importFrom('psych', 'describe', 'alpha', 'omega', 'glb',
           'fa', 'principal', 'polychoric', 'fisherz', 'fisherz2r',
           'fa.parallel', 'vss');
importFrom('pwr', 'pwr.t.test', 'pwr.r.test');
importFrom('fBasics', 'adTest');
importFrom('MBESS', 'ci.reliability', 'ci.pvaf');
importFrom('SuppDists', 'pPearson', 'dPearson');
### For 'omega' in the psych package - calls 'principal' in the psych package,
### with default 'oblimin' rotation (default of 'omega', not of 'principal').
importFrom('GPArotation', 'oblimin');

importFrom('MASS', 'mvrnorm');
importFrom('mosaic', 'do', 'resample');

importFrom('foreign', 'read.spss');

importFrom('knitr', 'knit');
importFrom('xtable', 'xtable');

importFrom('car', 'Anova', 'leveneTest');

importFrom('SCRT', 'pvalue.systematic');

importFrom('ggplot2', 'ggplot', 'theme_grey', 'theme', '%+replace%', 'aes', 'aes_string',
           'geom_line', 'geom_point', 'geom_violin', 'geom_jitter', 'geom_dotplot',
           'geom_pointrange', 'geom_errorbar', 'geom_histogram', 'geom_density', 'geom_bar',
           'element_line', 'element_rect', 'element_text', 'element_blank', 'scale_fill_brewer',
           'position_jitter', 'position_dodge', 'geom_smooth', 'geom_rug',
           'stat_summary', 'labs', 'xlab', 'ylab', 'rel', 'theme_bw', 'scale_y_reverse',
           'ggplot_build', 'ggsave', 'ggtitle', 'coord_polar', 'guides', 'guide_legend');
importFrom('GGally', 'ggpairs', 'getPlot', 'putPlot', 'wrap');
importFrom('grid', 'unit', 'grid.newpage', 'pushViewport', 'viewport', 'grid.layout',
           'textGrob', 'grid.rect', 'gpar', 'grid.draw');
importFrom('gridExtra', 'arrangeGrob');

importFrom('lavaan', 'sem');
